<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="libs/angular/angular.js"></script>
    <script src="javascripts/angular-swing.js"></script>
    <script src="javascripts/app.js"></script>
</head>
<body ng-app="app">
    <div id="container" ng-controller="card-stack-playground">
        <ul class="stack" swing-stack>
            <li class="listContact"
                swing-card
                swing-on-throwout="throwout(eventName, eventObject)"
                swing-on-throwoutleft="throwoutleft(eventName, eventObject)"
                swing-on-throwoutright="throwoutright(eventName, eventObject)"
                ng-repeat="card in cards" ng-class="card.name">
                <div class= "contact"> 
                    <div class="avatar" style="background-image:url({{card.imgUrl}})">
                    </div>
                    <div class="contact-info">
                    <span class="name">{{card.name}},</span> <span>{{card.age}}</span>
                    </div>

                </div>

            </li>

        </ul>
        <div class="controls">
            <div id="backButton"><img src="/images/back.jpg"/></div>
            <div id="cancelButton" ng-click="controlClick('cancel-click')"><img src="/images/cancel2x.jpg"/></div>
            <div id="likeButton" ng-click="controlClick('heart-click')"><img src='/images/heart2x.jpg'/></div>
            <div id="locationButton"><img src="/images/location.jpg" /></div>
        </div>
    </div>

</body>
</html>